@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Traveller</h1>
    <a asp-controller="Records" asp-action="Index" class="btn btn-primary">Records</a>
</div>
